<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<test thread-count="5" parallel="true" name="Test">
		<groups>
			<run>
				<include name="Smoke"></include>
			</run>
		</groups>
		<classes>
			<class name="project1.class1" />
			<class name="project1.Baseclass" />
		</classes>
	</test> <!-- Test -->
	<test thread-count="5" name="Test1">
		<groups>
			<run>
				<exclude name="Smoke"></exclude>
			</run>
		</groups>

		<classes>
			<class name="project1.class2" />
			<class name="project1.Baseclass" />
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->